In [1]:
import os
import numpy as np
import pandas as pd

In [2]:
import warnings
warnings.filterwarnings("ignore")

In [3]:
pwd

'C:\\Users\\Pavan\\Desktop\\Hackathon\\Higs Bonsons and Background process Hackathon'

In [4]:
data = pd.read_csv("C:/Users/Pavan/Desktop/Hackathon/Higs Bonsons and Background process Hackathon/train.csv",na_values="?")

In [5]:
data.shape

(68636, 30)

In [6]:
data.head()

,class,lepton_pT,lepton_eta,lepton_phi,missing_energy_magnitude,missing_energy_phi,jet1pt,jet1eta,jet1phi,jet1b.tag,...,jet4phi,jet4b.tag,m_jj,m_jjj,m_lv,m_jlv,m_bb,m_wbb,m_wwbb,id
0,1,0.907542,0.329147,0.359412,1.497970,-0.313010,1.095531,-0.557525,-1.588230,2.173076,...,-0.000819,0.000000,0.302220,0.833048,0.985700,0.978098,0.779732,0.992356,0.798343,1
1,1,0.798835,1.470639,-1.635975,0.453773,0.425629,1.104875,1.282322,1.381664,0.000000,...,0.900461,0.000000,0.909753,1.108330,0.985692,0.951331,0.803252,0.865924,0.780118,2
2,0,1.344385,-0.876626,0.935913,1.992050,0.882454,1.786066,-1.646778,-0.942383,0.000000,...,-1.360356,0.000000,0.946652,1.028704,0.998656,0.728281,0.869200,1.026736,0.957904,3
3,0,1.595839,-0.607811,0.007075,1.818450,-0.111906,0.847550,-0.566437,1.581239,2.173076,...,-1.274345,3.101961,0.823761,0.938191,0.971758,0.789176,0.430553,0.961357,0.957818,4
4,1,0.409391,-1.884684,-1.027292,1.672452,-1.604598,1.338015,0.055427,0.013466,2.173076,...,1.377130,3.101961,0.869418,1.222083,1.000627,0.545045,0.698653,0.977314,0.828786,5

Check the value of counts in lepton_pT

In [7]:
data.nunique()

class                           2
lepton_pT                   18514
lepton_eta                   8919
lepton_phi                  11806
missing_energy_magnitude    66854
missing_energy_phi          66804
jet1pt                      25954
jet1eta                      9422
jet1phi                     11713
jet1b.tag                       5
jet2pt                      22270
jet2eta                      9658
jet2phi                     11827
jet2b.tag                       5
jet3pt                      17882
jet3eta                     10089
jet3phi                     11753
jet3b.tag                       5
jet4pt                      13935
jet4eta                     10516
jet4phi                     11801
jet4b.tag                       5
m_jj                        65748
m_jjj                       57372
m_lv                        42247
m_jlv                       60935
m_bb                        62851
m_wbb                       63301
m_wwbb                      64483
id                          68636
dtype: int64

In [8]:
data.dtypes

class                         int64
lepton_pT                   float64
lepton_eta                  float64
lepton_phi                  float64
missing_energy_magnitude    float64
missing_energy_phi          float64
jet1pt                      float64
jet1eta                     float64
jet1phi                     float64
jet1b.tag                   float64
jet2pt                      float64
jet2eta                     float64
jet2phi                     float64
jet2b.tag                   float64
jet3pt                      float64
jet3eta                     float64
jet3phi                     float64
jet3b.tag                   float64
jet4pt                      float64
jet4eta                     float64
jet4phi                     float64
jet4b.tag                   float64
m_jj                        float64
m_jjj                       float64
m_lv                        float64
m_jlv                       float64
m_bb                        float64
m_wbb                       float64
m_wwbb                      float64
id                            int64
dtype: object

In [9]:
cat_cols = data.columns[data.nunique() <= 5]
cat_cols

Index(['class', 'jet1b.tag', 'jet2b.tag', 'jet3b.tag', 'jet4b.tag'], dtype='object')

In [10]:
num_cols = data.columns[data.nunique() > 5]
num_cols

Index(['lepton_pT', 'lepton_eta', 'lepton_phi', 'missing_energy_magnitude',
       'missing_energy_phi', 'jet1pt', 'jet1eta', 'jet1phi', 'jet2pt',
       'jet2eta', 'jet2phi', 'jet3pt', 'jet3eta', 'jet3phi', 'jet4pt',
       'jet4eta', 'jet4phi', 'm_jj', 'm_jjj', 'm_lv', 'm_jlv', 'm_bb', 'm_wbb',
       'm_wwbb', 'id'],
      dtype='object')

# Drop columns which are not significant

In [11]:
#we are removing ID since it has all the unique values which means number of rows(68636) is equal to number of unique values of ID
data.drop(["id"], axis = 1, inplace=True)
num_cols = data.columns[data.nunique() > 5]

In [12]:
data.head()

,class,lepton_pT,lepton_eta,lepton_phi,missing_energy_magnitude,missing_energy_phi,jet1pt,jet1eta,jet1phi,jet1b.tag,...,jet4eta,jet4phi,jet4b.tag,m_jj,m_jjj,m_lv,m_jlv,m_bb,m_wbb,m_wwbb
0,1,0.907542,0.329147,0.359412,1.497970,-0.313010,1.095531,-0.557525,-1.588230,2.173076,...,-1.138930,-0.000819,0.000000,0.302220,0.833048,0.985700,0.978098,0.779732,0.992356,0.798343
1,1,0.798835,1.470639,-1.635975,0.453773,0.425629,1.104875,1.282322,1.381664,0.000000,...,1.128848,0.900461,0.000000,0.909753,1.108330,0.985692,0.951331,0.803252,0.865924,0.780118
2,0,1.344385,-0.876626,0.935913,1.992050,0.882454,1.786066,-1.646778,-0.942383,0.000000,...,-0.678379,-1.360356,0.000000,0.946652,1.028704,0.998656,0.728281,0.869200,1.026736,0.957904
3,0,1.595839,-0.607811,0.007075,1.818450,-0.111906,0.847550,-0.566437,1.581239,2.173076,...,-0.654227,-1.274345,3.101961,0.823761,0.938191,0.971758,0.789176,0.430553,0.961357,0.957818
4,1,0.409391,-1.884684,-1.027292,1.672452,-1.604598,1.338015,0.055427,0.013466,2.173076,...,0.069496,1.377130,3.101961,0.869418,1.222083,1.000627,0.545045,0.698653,0.977314,0.828786

In [13]:
data.isna().sum()

class                       0
lepton_pT                   0
lepton_eta                  0
lepton_phi                  0
missing_energy_magnitude    0
missing_energy_phi          0
jet1pt                      0
jet1eta                     0
jet1phi                     0
jet1b.tag                   0
jet2pt                      0
jet2eta                     0
jet2phi                     0
jet2b.tag                   0
jet3pt                      0
jet3eta                     0
jet3phi                     0
jet3b.tag                   0
jet4pt                      0
jet4eta                     0
jet4phi                     0
jet4b.tag                   0
m_jj                        0
m_jjj                       0
m_lv                        0
m_jlv                       0
m_bb                        0
m_wbb                       0
m_wwbb                      0
dtype: int64

In [14]:
data.isnull().sum()

class                       0
lepton_pT                   0
lepton_eta                  0
lepton_phi                  0
missing_energy_magnitude    0
missing_energy_phi          0
jet1pt                      0
jet1eta                     0
jet1phi                     0
jet1b.tag                   0
jet2pt                      0
jet2eta                     0
jet2phi                     0
jet2b.tag                   0
jet3pt                      0
jet3eta                     0
jet3phi                     0
jet3b.tag                   0
jet4pt                      0
jet4eta                     0
jet4phi                     0
jet4b.tag                   0
m_jj                        0
m_jjj                       0
m_lv                        0
m_jlv                       0
m_bb                        0
m_wbb                       0
m_wwbb                      0
dtype: int64

In [15]:
y=data.loc[:, "class"]
y

0        1
1        1
2        0
3        0
4        1
        ..
68631    0
68632    0
68633    1
68634    0
68635    0
Name: class, Length: 68636, dtype: int64

In [16]:
X= data.loc[:,data.columns!='class']
X

,lepton_pT,lepton_eta,lepton_phi,missing_energy_magnitude,missing_energy_phi,jet1pt,jet1eta,jet1phi,jet1b.tag,jet2pt,...,jet4eta,jet4phi,jet4b.tag,m_jj,m_jjj,m_lv,m_jlv,m_bb,m_wbb,m_wwbb
0,0.907542,0.329147,0.359412,1.497970,-0.313010,1.095531,-0.557525,-1.588230,2.173076,0.812581,...,-1.138930,-0.000819,0.000000,0.302220,0.833048,0.985700,0.978098,0.779732,0.992356,0.798343
1,0.798835,1.470639,-1.635975,0.453773,0.425629,1.104875,1.282322,1.381664,0.000000,0.851737,...,1.128848,0.900461,0.000000,0.909753,1.108330,0.985692,0.951331,0.803252,0.865924,0.780118
2,1.344385,-0.876626,0.935913,1.992050,0.882454,1.786066,-1.646778,-0.942383,0.000000,2.423265,...,-0.678379,-1.360356,0.000000,0.946652,1.028704,0.998656,0.728281,0.869200,1.026736,0.957904
3,1.595839,-0.607811,0.007075,1.818450,-0.111906,0.847550,-0.566437,1.581239,2.173076,0.755421,...,-0.654227,-1.274345,3.101961,0.823761,0.938191,0.971758,0.789176,0.430553,0.961357,0.957818
4,0.409391,-1.884684,-1.027292,1.672452,-1.604598,1.338015,0.055427,0.013466,2.173076,0.509783,...,0.069496,1.377130,3.101961,0.869418,1.222083,1.000627,0.545045,0.698653,0.977314,0.828786
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68631,0.631747,-1.732745,0.734498,0.647226,-0.795422,0.768035,0.966439,0.950915,0.000000,0.767634,...,0.079490,-0.501350,3.101961,1.843042,1.384108,0.989323,0.978744,0.467157,1.412571,2.054788
68632,0.967752,-0.317568,-1.579379,0.512029,0.764061,0.684489,-0.537720,-0.855346,0.000000,1.064136,...,0.173599,0.239561,3.101961,2.000598,1.331450,0.985605,0.880876,0.899824,0.978647,0.915264
68633,0.908091,-0.825006,-0.830871,0.736298,1.512713,0.881811,-0.363440,0.006813,1.086538,0.763227,...,-0.187013,0.716785,0.000000,1.317681,1.010795,0.985962,0.957878,1.454672,0.903937,0.786069
68634,0.903699,0.261943,-0.429149,1.892855,0.313687,0.493397,-1.494282,-1.458506,0.000000,0.575505,...,-0.283621,1.110772,3.101961,0.527038,0.607263,1.125286,0.634106,0.115543,0.425828,0.692506
68635,0.566047,-0.317568,0.062561,0.358186,-1.315823,0.691176,1.154583,-0.242759,2.173076,0.680634,...,-0.844943,-0.294922,0.000000,0.747239,1.008975,0.989497,1.203147,0.892492,1.090807,0.888965

In [17]:
print(X.shape, y.shape)

(68636, 28) (68636,)

In [18]:
from sklearn.model_selection import train_test_split
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [19]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 122)

In [20]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(54908, 28)
(13728, 28)
(54908,)
(13728,)

In [21]:
X_train.shape[1]

28

In [22]:
y_train.value_counts()

1    29051
0    25857
Name: class, dtype: int64

In [23]:
print(y_train.value_counts()/X_train.shape[0])

1    0.529085
0    0.470915
Name: class, dtype: float64

In [24]:
print(y_test.value_counts()/X_test.shape[0])

1    0.526515
0    0.473485
Name: class, dtype: float64

In [25]:
import numpy as np
from sklearn.datasets.samples_generator import make_blobs
from sklearn.model_selection import train_test_split
from matplotlib import pyplot as plt
from sklearn.svm import LinearSVC
from sklearn.metrics import confusion_matrix
from sklearn import svm
from sklearn.svm import SVC

In [26]:
linear_svm = SVC(kernel='linear', C=1, random_state=0)

In [27]:
linear_svm.fit(X=X_train, y= y_train)

SVC(C=1, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='linear',
    max_iter=-1, probability=False, random_state=0, shrinking=True, tol=0.001,
    verbose=False)

In [28]:
## Predict
train_predictions = linear_svm.predict(X_train)
test_predictions = linear_svm.predict(X_test)

### Train data accuracy
from sklearn.metrics import accuracy_score,f1_score

print("TRAIN Conf Matrix : \n", confusion_matrix(y_train, train_predictions))
print("\nTRAIN DATA ACCURACY",accuracy_score(y_train,train_predictions))
print("\nTrain data f1-score for class '1'",f1_score(y_train,train_predictions,pos_label=1))
print("\nTrain data f1-score for class '2'",f1_score(y_train,train_predictions,pos_label=0))

### Test data accuracy
print("\n\n--------------------------------------\n\n")

print("TEST Conf Matrix : \n", confusion_matrix(y_test, test_predictions))
print("\nTEST DATA ACCURACY",accuracy_score(y_test,test_predictions))
print("\nTest data f1-score for class '1'",f1_score(y_test,test_predictions,pos_label=1))
print("\nTest data f1-score for class '2'",f1_score(y_test,test_predictions,pos_label=0))

TRAIN Conf Matrix :
 [[11282 14575]
 [ 5162 23889]]

TRAIN DATA ACCURACY 0.6405441829970132

Train data f1-score for class '1' 0.7076649633414797

Train data f1-score for class '2' 0.5334152856906457


--------------------------------------


TEST Conf Matrix :
 [[2856 3644]
 [1258 5970]]

TEST DATA ACCURACY 0.6429195804195804

Test data f1-score for class '1' 0.7089419308870681

Test data f1-score for class '2' 0.5381571509327303

In [29]:
unseendata=pd.read_csv('test.csv', na_values=["?", "", "null"])

In [30]:
unseendata_ids = unseendata.loc[:, "id"]
unseendata.drop(["id"], axis = 1, inplace=True)

In [31]:
unseendata.loc[29413, :]

class                       1.000000
lepton_pT                   0.708611
lepton_eta                  1.190136
lepton_phi                  0.593009
missing_energy_magnitude    1.899366
missing_energy_phi         -0.111872
jet1pt                      0.871276
jet1eta                     0.982283
jet1phi                    -1.684691
jet1b.tag                   2.173076
jet2pt                      0.653187
jet2eta                     1.648481
jet2phi                    -1.415022
jet2b.tag                   2.214872
jet3pt                      0.956961
jet3eta                     1.482058
jet3phi                     0.697208
jet3b.tag                   0.000000
jet4pt                      0.609978
jet4eta                     1.797605
jet4phi                          NaN
jet4b.tag                        NaN
m_jj                             NaN
m_jjj                            NaN
m_lv                             NaN
m_jlv                            NaN
m_bb                             NaN
m_wbb                            NaN
m_wwbb                           NaN
Name: 29413, dtype: float64

In [32]:
from sklearn.impute import SimpleImputer
cat_imputer = SimpleImputer(strategy='most_frequent')
cat_imputer.fit(X_train)

SimpleImputer(add_indicator=False, copy=True, fill_value=None,
              missing_values=nan, strategy='most_frequent', verbose=0)

In [33]:
X_unseendata=unseendata.loc[:,unseendata.columns!='class']

In [34]:
y_unseendata=unseendata.loc[:, "class"]

In [35]:
X_unseendata = pd.DataFrame(cat_imputer.transform(X_unseendata), columns=X_unseendata.columns)

In [36]:
X_unseendata.isnull().sum()

lepton_pT                   0
lepton_eta                  0
lepton_phi                  0
missing_energy_magnitude    0
missing_energy_phi          0
jet1pt                      0
jet1eta                     0
jet1phi                     0
jet1b.tag                   0
jet2pt                      0
jet2eta                     0
jet2phi                     0
jet2b.tag                   0
jet3pt                      0
jet3eta                     0
jet3phi                     0
jet3b.tag                   0
jet4pt                      0
jet4eta                     0
jet4phi                     0
jet4b.tag                   0
m_jj                        0
m_jjj                       0
m_lv                        0
m_jlv                       0
m_bb                        0
m_wbb                       0
m_wwbb                      0
dtype: int64

In [37]:
X_unseendata.nunique()

lepton_pT                   13786
lepton_eta                   7895
lepton_phi                  10476
missing_energy_magnitude    29132
missing_energy_phi          29138
jet1pt                      17678
jet1eta                      7838
jet1phi                     10383
jet1b.tag                       5
jet2pt                      15784
jet2eta                      8145
jet2phi                     10507
jet2b.tag                       5
jet3pt                      13492
jet3eta                      8498
jet3phi                     10487
jet3b.tag                       5
jet4pt                      10920
jet4eta                      8978
jet4phi                      6234
jet4b.tag                       3
m_jj                        28629
m_jjj                       26075
m_lv                        20086
m_jlv                       27167
m_bb                        27698
m_wbb                       27978
m_wwbb                      28236
dtype: int64

In [38]:
unseendata_predictions = linear_svm.predict(X_unseendata)

In [39]:
print("unseendata Conf Matrix : \n", confusion_matrix(y_unseendata, unseendata_predictions))
print("\nunseendata DATA ACCURACY",accuracy_score(y_unseendata,unseendata_predictions))
print("\nunseendata data f1-score for class '1'",f1_score(y_unseendata,unseendata_predictions,pos_label=1))
print("\nunseendata data f1-score for class '2'",f1_score(y_unseendata,unseendata_predictions,pos_label=0))

unseendata Conf Matrix :
 [[ 6157  7709]
 [ 2876 12672]]

unseendata DATA ACCURACY 0.6401373495614333

unseendata data f1-score for class '1' 0.7053911881766818

unseendata data f1-score for class '2' 0.5377527402943361

In [40]:
final_output=pd.DataFrame({'id':unseendata_ids, 'prediction':unseendata_predictions})
id_n_prediction = ["id", "prediction"]
final_output = final_output.loc[:,id_n_prediction]
#final_output.to_csv("final_output01.csv")
final_output

          id  prediction
0      68637           1
1      68638           1
2      68639           1
3      68640           1
4      68641           1
...      ...         ...
29409  98046           1
29410  98047           1
29411  98048           0
29412  98049           0
29413  98050           0

[29414 rows x 2 columns]

In [41]:
final_output.to_csv("final_output01.csv")

In [42]:
import pandas as pd

In [43]:
x = pd.read_csv("final_output01.csv",)

In [44]:
x.head()

   Unnamed: 0     id  prediction
0           0  68637           1
1           1  68638           1
2           2  68639           1
3           3  68640           1
4           4  68641           1

In [45]:
x.shape

(29414, 3)